################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuValidator/bin/Debug/net8.0
/SudokuValidator
